.footer {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  text-align: center;
  border-top: 2px solid var(--secondary-color);
  margin-top: 2rem;
}

.footer p {
  color: var(--secondary-color);
}
